<p>
    <button id="btn-grab">Grab Data</button> &nbsp; | &nbsp; <button id="btn-submit" disabled>Submit Data</button>
</p>

<h5>Response</h5>
<pre id="log" style="border:solid #c3c3c3 1px; width:60%; font-family: 'consolas', 'Arial', sans-serif; font-size: 12px; padding: 15px">

</pre>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
$(function(){
    // UI namespace
    var ui = {
        btn_grab: $('#btn-grab'),
        btn_submit: $('#btn-submit'),
        log: $('#log')
    };

    // Data namespace
    var data = {
        accounts: null
    };

    ui.btn_grab.on('click', function(){

        // get account list and display it
        $.get('/a/accounts', function(result){
            ui.log.text(JSON.stringify(result, null, 2));

            data.accounts = result;
            ui.btn_submit.removeAttr('disabled');
        });
    });

    ui.btn_submit.on('click', function(){

        // structure the data, and then submit

        var body = {accounts:[]};
        var l = data.accounts.length;
        for(var i=0; i<l; i++) {
            var account = data.accounts[i];
            var name = account['Account Name']? account['Account Name'].split(' ') : [''];
            body.accounts.push({
                'serviceProviderFirstName': name[0],
                'serviceProviderLastName': name[1] || '',
                'serviceProviderEmail': '',
                'serviceProviderName': account['Account Name'] || '',
                "company": "COMPANY NAME",
                "serviceProviderPhone": account['Phone'],
                "serviceProviderMobile": account['Phone'],
                "serviceProviderIntro": account['Description'] || '',
                "homepageUrl": account['Website'] || '',
                "facebookUrl": "http://facebook.com/servishero",
                "instagramUrl": "http://instagram.com/servishero",
                "workAddress": account['Shipping Street'] || '',
                "city": account['Shipping City'] || '',
                "state": account['Shipping State'] || '',
                "country": account['Shipping Country'] || '',
                "postcode": "60000"
            });
        }

        $.post('/a/submit_data', body, function(json, status, data){
            ui.log.text(JSON.stringify(json, null, 2));
        });
    });
});
</script>